# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT = 5001
HOST = localhost
JWT_SECRET = shhhhh...!!
NODE_ENV = development

POSTGRES_USER = POSTGRES_USER
POSTGRES_PASSWORD = POSTGRES_PASSWORD
POSTGRES_DB = POSTGRES_DB
POSTGRES_DATA = /var/lib/postgresql/data
HOST_PG_PORT = HOST_PG_PORT

HOST_SERVER_PORT = ${PORT}

PGADMIN_DEFAULT_EMAIL = PGADMIN_DEFAULT_EMAIL
PGADMIN_DEFAULT_PASSWORD = PGADMIN_DEFAULT_PASSWORD
HOST_PG_ADMIN_PORT = HOST_PG_ADMIN_PORT

DATABASE_URL = postgresql://postgres:password@postgres:5432/postsDB?schema=public
